.header-size{
    height: 380px;
}
.cover-img-height{
    height: 400px;
}
.header-info-div{
    margin-left: 150px;
    margin-top: 110px;
}
.section-bg{
    background-color: #313030;
}
.card-img-height{
    height: 300px;
}
.card-bg{
    background-color: #242323;
}
.btn-primary:hover{
    background-color: #5e81b9;
}
.footer-height{
    height: 160px;
}

